<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess</title>
    <link rel="shortcut icon" href="/assets/pawn.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    
<div class="w-full h-screen flex items-center justify-evenly bg-zinc-900">
    <div class="flex flex-col justify-center items-center">
        <div class="options flex">
            
    <div class="btn"><button>Change board theme</button></div>
        </div>
        <div class="chessboard w-96 h-96 bg-red-800"></div>

    </div>
    <div class="flex flex-col ml-2 move-box">
        <div class="turn w-96">Turn:<span style="color: white;">&#9817;</span></div>
        <div class="moves"></div>
    </div>
</div>

  </div>
  
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.12.0/chess.min.js"></script>


    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chess.js@latest/dist/chess.min.js"></script> -->

    <script src="/js/game.js"></script>
</body>
</html>